<!DOCTYPE html>
<html>
    <head>
        <meta name="naver-site-verification" content="1b4f787ae484bdfcf94f4672b6cef1f4102f013f"/>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157511016-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-157511016-1');
        </script>
        {% load static %}
        <meta property="og:image" content="{% static '/img/lala.png' %}" />
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>코로나 알리미</title>
        <link href="{% static '/css/normalize.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/css/home.css' %}?type=15" rel="stylesheet" type="text/css">
        <link href="{% static '/css/common.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static '/css/modal.css' %}?type=6" rel="stylesheet" type="text/css">

        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap" rel="stylesheet">
    </head>
    <style>
    .close {
      background:url('{% static 'img/overclose.png' %}');
    }
    </style>
    <body>
        <!-- <div id="map" style="width:100%;height:1000px;"></div> -->
        
            <div class="map" id="map">
                <div class="input-back-back">
                    <div class="input-backg">
                    <div class="search-input" id="search-input"  type="text" value="">
                        <input value="" type="text" class="search-input-in" placeholder="목적지를 검색하세요">
                        <button class="search-btn" id="search-btn">
                            <img class="search-icon" src="{% static '/img/qna.png' %}"></img>
                        </button>
                        </input>
                    </div>
                    <div class="menu-open" >
                        <img class="menu-img" src="{% static '/img/menu.png' %}" alt="menu">
                    </div>
                    </div>
                </div>
                <nav class="nav">
                    <div class="menu-close">
                    <img class="close-icon" src="{% static '/img/closeBtn.png' %}" alt="close">
                    </div>
                    <ul class="menu-all">
                        <div class="menu-logo">코로나 알리미</div>
                        <div class="menu-time">{{ sides.uptime }}</div>
                        <div id="ms1" class="menu-select" >확진자 수(전날대비)</div>
                        <div class="menu-numbers">{{ sides.defnum }}명({{ sides.defnumb }}명 증가)</div>
                        <div id="ms1" class="menu-select" >사망자 수(전날대비)</div>
                        <div class="menu-numbers">{{ sides.dnum }}명({{ sides.dnumb }}명 증가)</div>
                        <div class="contact-dev">Contact</div>
                        <div class="menu-info">withjuwon@gmail.com</div>
                        <div class="contact-dev">개발자</div>
                        <div class="menu-info">김준태 박지환 이인우 최주원</div>
                        <div class="menu-likelion">(고려대학교 멋쟁이사자처럼 출신)</div>
                        <div class="menu-server">서버 비용 후원 : 멋쟁이사자처럼</div>
                    </ul>
                </nav>

                {% comment %} <div class="button-flex">
                    <button class="button-qna">
                      <div class="inside-text">
                          현재 위치 보기
                      </div>
                    </button>
                </div> {% endcomment %}

                <div class="currpos">
                  <img class="overfoot" src="{% static 'img/curr.png' %}" /><br>
                </div>

                <div class="foot">
                  <div id="hosp1" class="menu_selected" onclick="changeMarker('store')">
                    <img class="hosp2" src="{% static 'img/hosp.png' %}"/><br>
                    <p id="foot_text">주변 진료소보기</p>
                  </div>
                  <div id="def1" style="position: relative; left: 2px;" class="menu_selected" onclick="changeMarker('coffee')">
                    <img class="def2" src="{% static 'img/def.png' %}"/><br>
                    <p id="foot_text">확진자 방문지보기</p>
                  </div>
                  <div id="rest1" style="position: relative; left: 15px;" class="none" onclick="changeMarker('carpark')">
                    <img class="rest2" src="{% static 'img/rest2.png' %}" /><br>
                    <p id="foot_text" style="position:relative; right: 15px;">새 서비스 준비 중</p>
                  </div>
                </div>

                  <div style="position: absolute; right: 5px; bottom: 60px; z-index: 1000;">
                    <img style="width: 30px;" src="{% static 'img/kakao.png' %}"/> 
              </div>
                {% comment %} <div class="overfoot2" onclick="changeMarker('carpark')" >
                  <img class="rest" src="{% static 'img/rest.png' %}" /><br>
                  <p id="modu">모두보기</p>
                </div> {% endcomment %}

            </div>

        <div class="modal">
            <div class="modal__overlay"></div>
            <!-- <div class="modal__content"> -->
              <div class="modal__content">
                <div class="modal-header">
      
                  <div class="modal-header__title">
                    <div>
                      코로나 알리미
                    </div>
                    <button class="closeBtn">
                      <img class="img" src="{% static '/img/closeBtn.png' %}" alt="닫기">
                    </button>
                    <div>
                    </div>
                  </div>
                  
                  <div class="modal-header__subtitle">
                    내 주변 코로나 정보 확인
                  </div>
      
                </div>
                <div class="modal-body">
                  <div class="modal-body__img">
                    <img class="img" src="{% static '/img/modalList.png' %}" alt="목록">
                  </div>
                  <div class="modal-body__text">
                    <div class="modal-body__text-list">내 위치 허용 후, 
                      <br/>
                      내 근처 확진자 방문지역과 진료소 확인!</div>
                    <div class="modal-body__text-list list-center">내 목적지 근처로 확인!</div>
                    <div class="modal-body__text-list">사이드 메뉴에서 확진자수 현황 확인!</div>
                  </div>
                </div>
              </div>
          </div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=8938ab673eaafe409d02a0d61ba55f14&libraries=services,clusterer"></script>
        <script type="text/javascript" src="{% static '/js/map.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/cluster.js' %}"></script>


        <script>
        // 마커를 표시할 위치와 title 객체 배열입니다 
        var coffeePositions = [
        {% for post in posts %}
          {
            content: '{{ post.title }}',
            latlng: new kakao.maps.LatLng({{ post.position_y }}, {{ post.position_x }}), 
            desc: '{{ post.description }}'
          },
        {% endfor %}
        ];

// 편의점 마커가 표시될 좌표 배열입니다
        var storePositions = [
        {% for care in cares %}
          {
            content: '{{ care.title }}',
            latlng: new kakao.maps.LatLng({{ care.position_y }}, {{ care.position_x }}), 
            position_y: '{{ care.position_y }}',
            position_x: '{{ care.position_x }}',
            phone: '{{ care.phonenumb }}',
            roadaddr: '{{ care.description }}'
          },
        {% endfor %}
        ];
        
        
        var markerImageSrc = '{% static "img/goodgood.png" %}';  // 마커이미지의 주소입니다. 스프라이트 이미지 입니다
        coffeeMarkers = [], // 커피숍 마커 객체를 가지고 있을 배열입니다
        storeMarkers = [], // 편의점 마커 객체를 가지고 있을 배열입니다
        coffeeOverlays = [],
        storeOverlays = [],
        searchOverLays = [];

        createCoffeeMarkers(); // 커피숍 마커를 생성하고 커피숍 마커 배열에 추가합니다
        createStoreMarkers(); // 편의점 마커를 생성하고 편의점 마커 배열에 추가합니다

        function createMarkerImage(src, size, options) {
            var markerImage = new kakao.maps.MarkerImage(src, size, options);
            return markerImage;            
        }

        // 좌표와 마커이미지를 받아 마커를 생성하여 리턴하는 함수입니다
        function createMarker(position, image) {
            var marker = new kakao.maps.Marker({
                position: position,
                image: image
            });
            // kakao.maps.event.addListener(marker, 'click', function() {
            // // 마커 위에 인포윈도우를 표시합니다
            //   infowindow.open(map, marker);  
            // });
            return marker;  
        }   
          
        // 커피숍 마커를 생성하고 커피숍 마커 배열에 추가하는 함수입니다
        function createCoffeeMarkers() {
            
            for (var i = 0; i < coffeePositions.length; i++) {  
                
                var imageSize = new kakao.maps.Size(50, 50),
                    imageOptions = {  
                        spriteOrigin: new kakao.maps.Point(0, 0),    
                        spriteSize: new kakao.maps.Size(50, 100)  
                    };     
                
                // 마커이미지와 마커를 생성합니다
                var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),    
                    marker = createMarker(coffeePositions[i].latlng, markerImage);  
                 
                if (coffeePositions[i].desc.length > 60) {
                  var long = "height: 130px;";
                }else {
                  var long = "";
                } 

                if (coffeePositions[i].desc.length > 60) {
                  var longinfo = "height: 120px;";
                }else {
                  var longinfo = "";
                }

                var content = '<div class="wrap" id="overdiv" style="' + long + '">' + 
                              '    <div class="info" style="' + longinfo + '">' + 
                              '        <div class="title">' + coffeePositions[i].content + 
                              '            <div class="close" onclick="closeOverlay2()" title="닫기"></div>' + 
                              '        </div>' + 
                              '        <div class="body">' +
                              '            <div class="desc">' + 
                              '                <div class="ellipsis" style="white-space: pre-line;">' + coffeePositions[i].desc + '</div>' + 
                              '            </div>' + 
                              '        </div>' + 
                              '    </div>' +    
                              '</div>';

                var overlay = new kakao.maps.CustomOverlay({
                                  content: content,
                                  map: map,
                                  position: marker.getPosition()       
                              });

                kakao.maps.event.addListener(marker, 'click', makeClickListener(map, overlay));
                //kakao.maps.event.addListener(marker, "click", makeOverListener(map, marker, infowindow));
                // kakao.maps.event.addListener(marker, 'click', makeOutListener(infowindow));
                // 생성된 마커를 커피숍 마커 배열에 추가합니다
                coffeeMarkers.push(marker);
                coffeeOverlays.push(overlay);  
            }     
        }

        // 커피숍 마커들의 지도 표시 여부를 설정하는 함수입니다
        function setCoffeeMarkers(map) {        
            for (var i = 0; i < coffeeMarkers.length; i++) {  
                coffeeMarkers[i].setMap(map);
            }        
        }

        function setCoffeeOverlays(map) {        
            for (var i = 0; i < coffeeOverlays.length; i++) {  
                coffeeOverlays[i].setMap(map);
            }        
        }

        // 편의점 마커를 생성하고 편의점 마커 배열에 추가하는 함수입니다
        function createStoreMarkers() {
            for (var i = 0; i < storePositions.length; i++) {
                
                var imageSize = new kakao.maps.Size(50, 50),
                    imageOptions = {   
                        spriteOrigin: new kakao.maps.Point(0, 50),    
                        spriteSize: new kakao.maps.Size(50, 100)  
                    };       
            
                // 마커이미지와 마커를 생성합니다
                var markerImage = createMarkerImage(markerImageSrc, imageSize, imageOptions),    
                    marker = createMarker(storePositions[i].latlng, markerImage); 
                    
                /*var infowindow = new kakao.maps.InfoWindow({
                    content: storePositions[i].content
                });*/

                if (storePositions[i].roadaddr.length > 23) {
                    var long2 = "left: 25px;";
                }else if (storePositions[i].roadaddr.length > 21) {
                    var long2 = "left: 32px;";
                }else if (storePositions[i].roadaddr.length > 20) {
                    var long2 = "left: 37px;";
                }else {
                    var long2 = "";
                }

                if (storePositions[i].content.length > 16) {
                    var long2 = "left: -25px;";
                }else if (storePositions[i].content.length > 13) {
                    var long2 = "left: 3px;";
                }else if (storePositions[i].content.length > 12) {
                    var long2 = "left: 12px;";
                }else if (storePositions[i].content.length > 10) {
                    var long2 = "left: 23px;";
                }else if (storePositions[i].content.length > 9) {
                    var long2 = "left: 32px;";
                }

                if (storePositions[i].content.length > 10) {
                  var longinfo2 = "";
                }else {
                  var longinfo2 = "";
                }

                var content = '<div class="wrap" id="overdiv" style="' + long2 + '">' + 
                              '    <div class="info" style="' + longinfo2 + '">' + 
                              '        <div class="title">' + storePositions[i].content + 
                              '            <div class="close" onclick="closeOverlay()" title="닫기"></div>' + 
                              '        </div>' + 
                              '        <div class="body">' +
                              '            <div class="desc">' + 
                              '                <div class="ellipsis">' + storePositions[i].roadaddr + '</div>' + 
                              '<div class="telroad" style="display: flex; flex-direction: row; justify-content: space-around; position: relative; margin-left: 5px; bottom: 5px;">' +
                              '                <div><div class="smallicons phone"></div><a href="tel:' + storePositions[i].phone + '" class="link">전화걸기</a></div>' + 
                              '                <div><div class="smallicons pin"></div><a href="https://map.kakao.com/link/to/' + storePositions[i].content + ',' + storePositions[i].position_y + ',' + storePositions[i].position_x +'" class="link">길찾기</div>' +
                              '</div>' +
                              '            </div>' + 
                              '        </div>' + 
                              '    </div>' +    
                              '</div>';

                var overlay = new kakao.maps.CustomOverlay({
                                  content: content,
                                  map: map,
                                  position: marker.getPosition()       
                              });

                kakao.maps.event.addListener(marker, 'click', makeClickListener(map, overlay));
                // kakao.maps.event.addListener(marker, "click", makeOverListener(map, marker, infowindow));
                // kakao.maps.event.addListener(marker, 'click', makeOutListener(infowindow));
                // 생성된 마커를 편의점 마커 배열에 추가합니다
                storeMarkers.push(marker);
                storeOverlays.push(overlay);    
            }        
        }

        // 편의점 마커들의 지도 표시 여부를 설정하는 함수입니다
        function setStoreMarkers(map) {        
            for (var i = 0; i < storeMarkers.length; i++) {  
                storeMarkers[i].setMap(map);
            }        
        }

        function setStoreOverlays(map) {        
            for (var i = 0; i < storeOverlays.length; i++) {  
                storeOverlays[i].setMap(map);
            }        
        }

        function setSearchOverlays(map){
          for(let i=0; i<searchOverLays.length; i++){
              searchOverLays[i].setMap(null); 
            }
        }

        setCoffeeMarkers(map);
        setStoreMarkers(map);
        setCoffeeOverlays(null);
        setStoreOverlays(null);

        function changeMarker(type){
            // 현재 지도의 레벨을 얻어옵니다
            var level = map.getLevel();
            
            // 지도를 1레벨 내립니다 (지도가 확대됩니다)
            if (level <= 5) {
                map.setLevel(5);
            }

            var coffeeMenu = document.getElementById('def1');
            var storeMenu = document.getElementById('hosp1');
            var carparkMenu = document.getElementById('rest1');
            
            // 커피숍 카테고리가 클릭됐을 때
            // console.log(type);

            if (type === 'coffee') {
                coffeeMenu.className = '';
                storeMenu.className = 'menu_selected';
                carparkMenu.className = 'menu_selected';
                            
                // 커피숍 마커들만 지도에 표시하도록 설정합니다
                setCoffeeMarkers(map);
                setStoreMarkers(null); 
                clusterer.removeMarkers(coffeeMarkers);
                clusterer.addMarkers(coffeeMarkers);
                clusterer.removeMarkers(storeMarkers);

                
            } else if (type === 'store') { // 편의점 카테고리가 클릭됐을 때
                coffeeMenu.className = 'menu_selected';
                storeMenu.className = '';
                carparkMenu.className = 'menu_selected';
                            
                // 편의점 마커들만 지도에 표시하도록 설정합니다
                setCoffeeMarkers(null);
                setStoreMarkers(map);
                clusterer.removeMarkers(storeMarkers);
                clusterer.removeMarkers(coffeeMarkers);
                clusterer.addMarkers(storeMarkers);
                
            } else if (type === 'carpark') { // 주차장 카테고리가 클릭됐을 때
                // coffeeMenu.className = 'menu_selected';
                // storeMenu.className = 'menu_selected';
                // carparkMenu.className = '';
            
                // // 주차장 마커들만 지도에 표시하도록 설정합니다
                // setCoffeeMarkers(map);
                // setStoreMarkers(map);
            }    
        } 

        changeMarker('coffee');

        function makeOverListener(map, marker, infowindow) {
          return function() {
            console.log(infowindow)
            infowindow.open(map, marker);
          };
        }

        function makeOutListener(infowindow) {
          return function() {
            infowindow.close();
          }
        }
        
        function makeClickListener(map, overlay) {
          return function() {
            if(overlay.getMap()){
              return overlay.setMap(null);
            }

            setCoffeeOverlays(null);
            setStoreOverlays(null);
            setSearchOverlays(null);

            overlay.setMap(null);   
            overlay.setMap(map);
          }
        }

        function closeOverlay() {
            setStoreOverlays(null);
        }

        function closeOverlay2() {
            setCoffeeOverlays(null);
        }


        function closeSearchOverLay(){
            for(let i=0; i<searchOverLays.length; i++){
              searchOverLays[i].setMap(null);
            }
        }

        </script>
        <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script> 
        <script type="text/javascript" src="{% static '/js/modal.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/menu.js' %}"></script>

        <script type="module" src="{% static '/js/marker.js?type=4' %}"></script>
        <script type="module" src="{% static '/js/currentPos.js' %}"></script>
        <script type="module" src="{% static '/js/searchHandler.js?type=4' %}"></script>
    </body>
</html>
