<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        1. 개인정보의 처리 목적 <br>
        코로나 알리미 개발자 (김준태, 박지환, 이인우, 최주원) 가 작성한 앱은(는) 다음의 목적을 위하여 개인정보를 처리하고 있으며, 다음의 목적 이외의 용도로는 이용하지 않습니다.  <br>
        <br>
        1) 위치 정보를 통한 서비스 제공  <br>
        <br>
        2. 개인정보처리 위탁 여부  <br>
        본 개발자의 앱은 타 업체에 개인정보처리를 위탁하지 않습니다.  <br>
        <br>
        3. 정보주체의 권리,의무 및 그 행사방법  <br>
        이용자는 개인정보주체로서 언제든지 개인정보 보호 관련 권리를 행사할 수 있습니다.  <br>
        다만, 본 앱은 앱 사용자의 사용정보를 수집 및 보유하지 않습니다. 앱 기능 활용에만 사용합니다.  <br>
        <br>
        4. 처리하는 개인정보의 항목 작성  <br>
        다음의 개인정보 항목을 처리하고 있습니다.  <br>
        <br>
        android.permission.INTERNET: 코로나 알리미 웹사이트 접속을 위한 권한  <br>
        android.permission.ACCESS_COARSE_LOCATION: 사용자의 위치 정보를 알기 위한 권한  <br>
        android.permission.ACCESS_FINE_LOCATION: 사용자의 위치 정보를 알기 위한 권한  <br>
        android.permission.CALL_PHONE: 진료소로의 전화 연결을 위한 권한  <br>
        android.permission.DIAL_PHONE: 진료소로의 전화 연결을 위한 권한  <br>
        <br>
        5. 개인정보의 파기  <br>
        앱 사용자의 사용정보를 수집 및 보유하지 않습니다. 따라서 파기해야하는 개인정보를 가지고 있지 않습니다.  <br>
        <br>
        6. 개인정보의 안전성 확보 조치  <br>
        앱 사용자의 사용정보를 수집 및 보유하지 않습니다.  <br>
    </div>
</body>
</html>